@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Hello everyone, I am Harry Potter FanFic, also known as Starwars Shooter or Star for short. 
            I'm an 19 year old guy from the Netherlands. I'm a fanfiction writer, a big fan of Hinny and Romione, you can also see that in my fanfics. 
            I upload them to YouTube with images, sometimes even edited images to make it fit better into the story.
            All the series have their own special things to it which make them unique.
            I always try to make my stories as special and unique as possible.
            I try to use ideas from viewers if possible.</p>
        <iframe src="https://youcount.github.io/e/#!/HarryPotterFanFic" height="100" width="250" frameborder="0"></iframe>
        <figure class="discord">
            <img src="https://cdn.discordapp.com/attachments/560772369770217472/632178720790151168/p_NShYi8_400x400.png" width="200" height="200" />
            <figcaption>The Discord Server</figcaption>
        </figure>
        <figure class="insta">
            <img src="https://cdn.discordapp.com/attachments/560772369770217472/632180087290200114/insta.png" width="200" height="200" />
            <figcaption>Instagram</figcaption>
        </figure>
        <figure class="wattpad">
            <img src="https://cdn.discordapp.com/attachments/560772369770217472/706845853112860692/6dff9dbcd03edbf11101123a4b10bb43.png" width="200" height="148" />
            <figcaption style="margin-top: 40px;">Wattpad</figcaption>
        </figure>
    </div>
