@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<p>I'm a fanficion creator, my main fanfics are Harry Potter related, but I like to do crossovers.<br/><br/>

    Harry and Ginny - After the war is on friday<br/>
    Harry and Ginny - Meant to be is on sunday<br/>
    Star Hamilton - A Tragic Story is on wednesday<br/><br/>
    
    At times I put in movies or mini series<br/>

    I hope you enjoy all of them<br/>

    My friends:
    <ul style="list-style: none; margin-left: -40px;">
        <li><a href="https://www.youtube.com/channel/UCK8unpLZ46Uufq_tzkBqAhA">Severus Snape</a></li>
        <li><a href="https://www.youtube.com/channel/UCOQmKbd8UqTb23obSVI1SZg">GINNY WEASLEY RULES</a></li>
        <li><a href="https://www.youtube.com/channel/UCXvDFiw6qaCf_SvWXj2taGw">Harry Potter Love Story</a></li>
    </ul>
    </p>
